/* this css style is for the content.php */
body{
    margin:0;
    background-color: antiquewhite;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#header{
    position: relative;
    border: 1px solid rgb(0, 0, 0);
    position: sticky;
    top:0;
}
.header{
    position: relative;
    top:0;
    width: 100%;
    height: 150px;
}
.title{
    position: relative;
    position: sticky;
    top:0;
    width:250px;
    height: 140px;
}
    .img{
        position: sticky;
        top:0;
        width: 150px;
        height: 140px;
    }
        .name{    
            position: sticky;
            top:0;
            width:73px;
            height: 50px;
            position: relative;
            margin-top:-100px;
            margin-left: 160px;
            font-family: "Trebuchet MS", Helvetica, sans-serif;
        }      
                 /* navbar */
        .navbar {
            position: relative;
            width: 70%;
            height: 45px;
            margin: -40px auto 0; 
            text-align: center;
        }
                .menu {
                    text-decoration: none;
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    margin: 0 20px;
                    font-size: 20px;
                    font-weight: bold;
                    color: #000;
                    padding-right: 10px;
                    transition: border-bottom 0.1s ease, color 0.1s ease; 
                }

                .menu:hover {
                    border-bottom: 3px solid #000;
                    color: #000; 
                }
                .interface {
                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-weight: bold;
                    flex-wrap: wrap;
                    width:100px;
                    height: auto;
                    float: right;
                    margin:-50px 30px  auto auto;
                    justify-content: center; 
                    padding: 10px;  
                }
                .icon {
                    text-decoration: none;
                    margin: 0 10px;
                    font-size: 20px; 
                    color: #0f0f0f;
                    transition: color 0.3s ease; 
                }
        
                .icon:hover {
                    color: #818283; 
                }
                .outerform{
                    margin-top: 50px;
                  }
                  .formcontainer{
                    width: 300px;
                    height: auto;
                    margin-left: 500px;
                    margin-bottom: 20px;
                    background-color: rgb(255, 123, 0);
                  }
                    .login{
                        margin-top:-300px;
                        font-size:20px;
                    }
                  .innerformcontainer{
                      padding:10px;
                      color :black;
                  }
                  .forminputs{
                    padding:5px;
                    margin: 30px;
                    text-align: center;
                  }
                    input{
                       padding:5px;
                       margin-top: 10px; 
                    }
                      label{
                        float: left;
                        padding:10px;
                        font-weight: bold;
                      }
                      .close{
                        background-color: rgb(230, 24, 24);
                        width: 26px;
                        height: 29px;
                        float: right;
                        margin-right: -40px;
                        margin-top: -65px;
                        border-radius: 10px;
                        text-align: center;
                      }
                        .close:hover{
                            background-color: #ff0000;
                            transition: step-end;
                        }
                            .submitbtn{
                                background-color: #e76d09;
                                border-radius: 30px;
                            }
                    /* delivery-moto */
                    .deliverymoto{
                        margin:-140px 0 0 0 ;
                        width: 500px ;
                        float: right;
                    }
                            .moto{
                                animation: scroll 5s linear infinite;
                                color:#ff471a;
                            }
                                    @keyframes scroll {
                                        0% {
                                            transform: translateX(20%); 
                                        }
                                        100% {
                                            transform: translateX(-100%); 
                                        }
                                    }
                                    /* end of header */
                        /* start of the content */
                      
                        .content {
                            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            width: 100%;
                            height: 1100; /* Adjusted to auto */
                            border-top: 10px solid rgb(255, 123, 0);
                            margin-bottom: 200px;
                        }
                        
                        #product-container {
                            width: 100%;
                            height: 1020px;
                            margin-top: 30px;
                            flex-wrap: wrap;
                            display: flex;
                            justify-content: space-between;
                        }
                        
                            .product-item {
                                margin-bottom: 20px;
                                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                margin: 20px;
                                width: 300px;
                                text-align: center;
                                position: relative;
                                overflow: hidden;
                            }
                            
                                .product-item img {
                                    width: 100%;
                                    height: 300px;
                                    border-radius: 50%;
                                    object-fit: fill;
                                    display: block;
                                }
                            
                                    .product-details {
                                        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                        padding: 10px;
                                        color: #333; 
                                    }
                    
                                        .product-name {
                                            font-size: 18px;
                                            font-weight: bold;
                                            margin-bottom: 10px;
                                        }
                                        
                                            .product-info {
                                                font-size: 16px;
                                                margin-bottom: 10px;
                                            }
                            
                                                .shop-button {
                                                    background-color: #ff471a;
                                                    color: #fff;
                                                    border: none;
                                                    border-radius: 10px;
                                                    padding: 10px 20px;
                                                    cursor: pointer;
                                                    font-size: 16px;
                                                    transition: background-color 0.3s ease;
                                                    width: 100%;
                                                    margin-top: 10px;
                                                }
                                                
                                                        .shop-button:hover {
                                                            background-color: #f32c09; 
                                                        }
                                                                                        
                                        /* end of the content style */
                        /* footer start here */
                                        .footer {
                                            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                            background-color: #e76d09;
                                            color: white;
                                            padding: 20px;
                                            text-align: center;
                                            position: relative;
                                            width: 100%;
                                        }
                                        
                                        .footer .contact-info {
                                            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                            margin-bottom: 20px;
                                        }
                                        
                                        .footer .contact-info h4 {
                                            margin: 0;
                                            font-size: 18px;
                                            color: #f1f1f1;
                                        }
                                        
                                        .footer .contact-info p {
                                            margin: 5px 0;
                                            font-size: 16px;
                                        }
                                        
                                        .footer .social-icons {
                                            margin: 20px 0;
                                        }
                                        
                                        .footer .social-icons a {
                                            color: white;
                                            margin: 0 10px;
                                            font-size: 24px;
                                            text-decoration: none;
                                            transition: color 0.3s ease;
                                        }
                                        
                                        .footer .social-icons a:hover {
                                            color: #da683c;
                                        }
                                        
                                        .footer .social-icons .fa-map-marker-alt {
                                            color: #FF5722;
                                        }
                                    /* footer ends here */
                                        